@import url(font/optimus.css);

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

nav {
  ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
}

fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

blockquote, q {
  quotes: none;
}

blockquote {
  &:before, &:after {
    content: '';
    content: none;
  }
}

q {
  &:before, &:after {
    content: '';
    content: none;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* start editing from here */

a {
  text-decoration: none;
}

.txt-rt {
  text-align: right;
}

/* text align right */

.txt-lt {
  text-align: left;
}

/* text align left */

.txt-center {
  text-align: center;
}

/* text align center */

.float-rt {
  float: right;
}

/* float right */

.float-lt {
  float: left;
}

/* float left */

.clear {
  clear: both;
}

/* clear float */

.pos-relative {
  position: relative;
}

/* Position Relative */

.pos-absolute {
  position: absolute;
}

/* Position Absolute */

.vertical-base {
  vertical-align: baseline;
}

/* vertical align baseline */

.vertical-top {
  vertical-align: top;
}

/* vertical align top */

.underline {
  padding-bottom: 5px;
  border-bottom: 1px solid #eee;
  margin: 0 0 20px 0;
}

/* Add 5px bottom padding and a underline */

nav {
  &.vertical ul li {
    display: block;
  }
  &.horizontal ul li {
    display: inline-block;
  }
}

/* vertical menu */
/* horizontal menu */

img {
  max-width: 100%;
}

/*end reset*/

body {
  font-family: Georgia, serif;
  font-size: 100%;
  background: #ffffff;
  a:link {
    color:rgb(39, 121, 7);
  }
  a:visited {
    color:#777;
  }
}

.wrap {
  margin: 0 auto;
  width: 80%;
}

.wrapper {
  padding: 2% 6%;
  min-height:220px;
}

/* start header */

.header_bg {
  background: url("../images/bg.jpg") no-repeat;
  background-size: cover;
}

.logo {
  position: absolute;
  top: 10px;
  left: 10px;
  float: left;
  width: 150px;
  img {
    position: relative;
    z-index: 2;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    width: 100%;
    img {
      display: block;
      margin: auto;
      max-width: 200px;
    }
  }
}

/* start menu */

.menu {
  float: left;
  margin-left: 0px;
  margin-top: 60px;
  position: absolute;
  background: #263923;
  width: 100%;
  margin-left: 0;
  padding-left:220px;
  z-index: 1;
  top:0;
  left:0;
  font-family: optimusprincepsregular;
  font-size: 1.4em;
  .nav {
    li {
      padding:5px;
      a {
        padding:10px 20px;
        margin: 0;
      }
    }
  }
  @media only screen and (max-width: 1024px) {
    margin-left: 0px;
    margin-top: 60px;
    padding-left:220px;
  }
  @media only screen and (max-width: 780px) {
    margin-left:0;
    margin-top:0;
    padding-left:0;
    position:static;
    .nav {
      margin:0;
      padding:0;
      li {
        padding:0;
        margin:0;
        a{
          padding:3px 2%;
          display:block;
          width:96%;
          &:hover {
            background:#263923;
          }
        }
      }
    }

  }
}
.toggleMenu {
  display: none;
  background: rgba(29, 82, 99, 0.22);
  padding: 10px 15px;
  width: 100%;
  color: #fff;
}

.nav {
  list-style: none;
  *zoom: 1;
  &:before {
    content: " ";
    display: table;
  }
  &:after {
    content: " ";
    display: table;
    clear: both;
  }
  li {
    position: relative;
    transition:all 0.3s;
    a {
      padding: 10px 20px 10px 40px;
      color: #fff;
      font-size: 16px;
      font-family: Georgia, serif;
    }
    &.hover {
      transition:all 0.5s;
      color:#263923;
      background:white;
      a {
        color:inherit;
      }
    }
  }
  > li {
    float: left;
    > {
      .parent {
        background-image: url("../images/down_arrow.png");
        background-repeat: no-repeat;
        background-position: right;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .logo {
    float: none;
  }
  .menu {
    float: none;
    margin-left: 0;
  }
  .nav {
    background: rgba(255, 255, 255, 0.22);
  }
  .active {
    display: block;
  }
  .nav {
    > li {
      float: none;
      > .parent {
        background-position: 95% 50%;
      }
    }
    li li .parent {
      background-image: url("images/downArrow.png");
      background-repeat: no-repeat;
      background-position: 95% 50%;
    }
    ul {
      display: block;
      width: 100%;
    }
    > li.hover > ul, li li.hover ul {
      position: static;
    }
  }
}

/* start banner_text */
h2.style {
  font-family: 'optimusprincepsregular';
  color: #ffffff;
  text-shadow: 0 1px 0 #22373c;
  line-height: 1.2em;
  margin-top: -70px;
  font-size:30px;
  text-transform:lowercase;
}

.banner {
  width: 70%;
  margin: 8% 0 20%;
  font-size:2.3em;
  @media only screen and (min-width: 781px) {
    position:absolute;
    top:35px;
    left:200px;
  }
  &::after {
    display:block;
    clear:both;
    content: ' ';
    width:100%;
    height:1px;
  }
  h2 {
    margin-top:5px;
    text-shadow: 2px 2px 2px #19282C;
    font-size:30px;
    @media only screen and (min-width: 1281px) {
      //margin-top:160px;
      //margin-left:100px;
    }
  }
}


p.para {
  margin-top: 4%;
  font-size: 1em;
  color: #fff;
  text-shadow: 0 1px 0 #989999;
  line-height: 1.8em;
}

/* start main */

.mait_bg {
  background: #ffffff;
}

.main {
  margin: 2% 0 8%;
}

h3.style {
  font-size: 1.5em;
  color: #7e492c;
}

h4.style {
  font-size: 1.6em;
  color: #7e492c;
}

p.para1 {
  margin-top: 2%;
  font-size: 1em;
  color: #555555;
  line-height: 1.8em;
}

/* Circular Content Carousel Style */

.ca-container {
  position: relative;
  width: 100%;
  height: 350px;
}

.ca-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.ca-item {
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
  text-align: center;
}

.ca-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: url(../images/cross.png) no-repeat center center;
  width: 27px;
  height: 27px;
  text-indent: -9000px;
  outline: none;
  opacity: 0.7;
  &:hover {
    opacity: 1.0;
  }
}

.ca-item-main {
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.ca-item h4 {
  position: relative;
  color: #999;
  margin: 0.8em 0;
  line-height: 1.8em;
  font-weight: 300;
  font-size: 0.75em;
  span {
    display: block;
    &.quote {
      margin: 2% 0 0 26%;
    }
  }
}

.ca-nav span {
  width: 35px;
  height: 35px;
  background: #ff992b url(../images/arrows.png) no-repeat top left;
  position: absolute;
  top: 84%;
  left: 76%;
  text-indent: -9000px;
  cursor: pointer;
  z-index: 100;
  &.ca-nav-next {
    background-position: top right;
    left: auto;
    right: 4px;
  }
  &:hover {
    opacity: 1.0;
  }
}

/* start span_1_of_2 */

.span1_of_1 {
  width: 26.333%;
  float: left;
  border-right: 1px solid #e7e7e7;
  &.left {
    padding-right: 4%;
  }
}

.span1_of_2 {
  width: 64.333%;
  float: left;
  padding-left: 4%;
}

.span1_of_1 span {
  color: #7e492c;
  font-size: 2em;
  line-height: 1.4em;
  text-align: left;
  &.left {
    margin-left: 50%;
  }
}

/* start footer */

.footer_bg {
  background: #263923;
  padding:15px 0;
  .wrap {
    height:auto;
    .wrapper {
      min-height:50px;
      height:auto;
      .f_grid {
        padding:0;
        margin:0;
      }
    }
  }
  .copyright {
    color:white;
    font-size:12px;
    a {
      &:link, &:visited {
        color:white;
      }
      &:hover {
        color:black;
      }
    }
  }
}

.f_grid {
  display: block;
  margin: 2% 0 10%;
}

.grid1_of_1 {
  float: left;
  width: 24.3333%;
}

.grid1_of_2 {
  float: left;
  width: 74.3333%;
}

.address {
  p, address {
    color: #ffffff;
    font-size: 0.8725em;
    line-height: 1.8em;
    a {
      color: #ffffff;
      margin-top: 10px;
    }
  }
  h3 {
    font-size: 14px;
    color: #ffffff;
    -webkit-text-stroke: 0.4px;
    -webkit-text-stroke-color: #f6f6f6;
    &.top {
      margin-top: 12%;
    }
  }
  p {
    &.top {
      margin-top: 2%;
    }
    a:hover {
      color: #f1f1f1;
    }
  }
}

.f_grid2 {
  float: left;
  &.left {
    margin-left: 8%;
  }
  h3 {
    font-size: 14px;
    color: #ffffff;
    -webkit-text-stroke: 0.4px;
    -webkit-text-stroke-color: #f6f6f6;
  }
}

.f_nav {
  margin-top: 8%;
  li a {
    color: #ffffff;
    font-size: 0.8725em;
    line-height: 1.8em;
    &:hover {
      color: #f1f1f1;
    }
  }
}

/* start commercial */

.header_bg1 {
  background: #5D95A4;
  padding: 0% 0 8%;
}

.commercial {
  margin: 10px 0;
  border-bottom: 1px solid rgba(38, 57, 35, 0.73);
  padding:10px 0 10px;
  .service {
    padding:5px 0;
  }
}
.main {
  .service ,  &.whoweare {
    h2.style1 {
      font-size:1.33em;
      color: #263923;
    }
  }
  p.para1 {
    font-size:14px;
  }
}
/*  GRID OF THREE */

.grid_1_of_3 {
  display: block;
  margin: 4px 5%;
  margin-top: 17px;
  padding: 0;
}

.images_1_of_3 {
  float: left;
  width: 30.333%;
  img {
    margin: 10% 0 6%;
    box-shadow: 0px 40px 20px -40px #858585;
    -webkit-box-shadow: 0px 40px 20px -40px #858585;
    -moz-box-shadow: 0px 40px 20px -40px #858585;
    -o-box-shadow: 0px 40px 20px -40px #858585;
  }
}

h2.style1 {
  font-family: 'optimusprincepsregular';
  font-size: 2.5em;
  color: #84B3B9;
  text-shadow: 0 1px 0 white;
  line-height: 1.2em;
  letter-spacing: -1px;
  color:#263923;
  text-transform:lowercase;
}
.rfix {
  letter-spacing:-5px;
}
.main {
  h2.style1 {
    font-size:1.8em;
    margin:5px 0;
  }
}
.images_1_of_3 p {
  margin-top: 4%;
}

.rd_more {
  margin-top: 8%;
}

.btn {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 25px 80px;
  display: inline-block;
  text-transform: uppercase;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  &:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
}

/* Button 1 */

.btn-1 {
  border: 1px solid #84B3B9;
  color: #84B3B9;
}

/* Button 1a */

.btn-1a {
  &:hover, &:active {
    color: #ffffff;
    background: #84B3B9;
  }
}

/* start industrail */

.listimg {
  display: block;
  img {

  }

}

.listview_1_of_2 {
  margin: 6% 0;
}

.listimg_2_of_1 {
  float: left;
  width: 20.33333%;
  margin-right: 4.33333%;
}

.list_2_of_1 {
  float: left;
  width: 56.33333%;
}

.listimg_2_of_1 img {
  margin-top: 2%;
}

.images_1_of_2 img {
  max-width: 140px;
  display: block;
}

.list_2_of_1 h3 span {
  color: #80B88C;
}

.rd_more1 {
  margin-top: 3%;
}

/*gallery*/

.gallery {
  margin-top: 4%;
  h2 {
    margin-bottom: 4%;
  }
}

.lb-album {
  display: block;
  &.top {
    margin-top: 6%;
  }
  li {
    float: left;
    width: 21.333%;
    margin: 0 0 4% 4%;
    position: relative;
    &:first-child {
      margin-left: 0;
    }
    > a {
      display: block;
      position: relative;
      img {
        display: block;
      }
      span {
        position: absolute;
        bottom: 70px;
        left: 110px;
        width: 36px;
        height: 36px;
        opacity: 0;
        -webkit-transition: opacity 0.3s linear;
        -moz-transition: opacity 0.3s linear;
        -o-transition: opacity 0.3s linear;
        -ms-transition: opacity 0.3s linear;
        transition: opacity 0.3s linear;
      }
      img:hover {
        opacity: 0.6;
      }
      &:hover span {
        opacity: 1;
        background: url(../images/zoom.png) no-repeat;
        filter: alpha(opacity = 99);
        /* internet explorer */
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=99)";
        /*IE8*/
      }
    }
  }
}

.lb-overlay {
  width: 0px;
  height: 0px;
  position: fixed;
  overflow: hidden;
  left: 0px;
  top: 0px;
  padding: 0px;
  z-index: 99;
  text-align: center;
  background: rgba(24, 23, 23, 0.91);
  a.lb-close {
    background: rgba(27, 54, 81, 0.8);
    z-index: 1001;
    position: absolute;
    right: 29%;
    top: 6%;
    width: 36px;
    height: 36px;
    background: url("../images/close.png") no-repeat;
    overflow: hidden;
    opacity: 0;
    filter: alpha(opacity = 0);
    /* internet explorer */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)";
    -webkit-transition: opacity 0.3s linear 1.2s;
    -moz-transition: opacity 0.3s linear 1.2s;
    -o-transition: opacity 0.3s linear 1.2s;
    -ms-transition: opacity 0.3s linear 1.2s;
    transition: opacity 0.3s linear 1.2s;
  }
  img {
    position: relative;
  }
  &:target {
    width: auto;
    height: auto;
    bottom: 0px;
    right: 0px;
    padding: 80px 100px 120px 100px;
    img {
      -webkit-animation: scaleDown 1.2s ease-in-out;
      -moz-animation: scaleDown 1.2s ease-in-out;
      -o-animation: scaleDown 1.2s ease-in-out;
      -ms-animation: scaleDown 1.2s ease-in-out;
      animation: scaleDown 1.2s ease-in-out;
    }
    a.lb-close, > div {
      opacity: 1;
      filter: alpha(opacity = 99);
      /* internet explorer */
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=99)";
      /*IE8*/
    }
  }
}

@-webkit-keyframes scaleDown {
  0% {
    -webkit-transform: scale(10, 10);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1, 1);
    opacity: 1;
  }
}


@-moz-keyframes scaleDown {
  0% {
    -moz-transform: scale(10, 10);
    opacity: 0;
  }
  100% {
    -moz-transform: scale(1, 1);
    opacity: 1;
  }
}


@-o-keyframes scaleDown {
  0% {
    -o-transform: scale(10, 10);
    opacity: 0;
  }
  100% {
    -o-transform: scale(1, 1);
    opacity: 1;
  }
}


@-ms-keyframes scaleDown {
  0% {
    -ms-transform: scale(10, 10);
    opacity: 0;
  }
  100% {
    -ms-transform: scale(1, 1);
    opacity: 1;
  }
}


@keyframes scaleDown {
  0% {
    transform: scale(10, 10);
    opacity: 0;
  }
  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
}


x:-o-prefocus, .lb-overlay img {
  height: 100%;
}

/*start Contact*/

.contact {
  display: block;
}

.contact_info {
  float: right;
  width: 64.33333%;
}

.map {
  margin-top: 4%;
}

.company_address {
  float: left;
  margin-right: 3%;
  width: 32.3333%;
}

.span_1_of_2 h2 {
  margin-bottom: 0.5em;
}

.contact-form {
  position: relative;
  margin-top: 2%;
  div {
    padding: 8px 0;
  }
  span label {
    color: #555555;
    display: block;
    font-size: 0.8725em;
    padding-bottom: 5px;
  }
}

.company_address p {
  padding: 2px 0;
  font-size: 1em;
  color: #555555;
  line-height: 1.8em;
  span {
    color: #84B3B9;
    cursor: pointer;
    &:hover {
      color: #555555;
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s;
    }
  }
}

.contact-form {
  form {
    margin-top: 10px;
  }
  input[type="text"] {
    font-size: 0.8725em;
    color: #555555;
    padding: 12px 8px;
    display: block;
    width: 98%;
    background: #FFFFFF;
    border: 1px solid #e2e2e2;
    outline: none;
    -webkit-appearance: none;
  }
  textarea {
    font-size: 0.8725em;
    color: #555555;
    padding: 12px 8px;
    display: block;
    width: 98%;
    background: #FFFFFF;
    border: 1px solid #e2e2e2;
    outline: none;
    -webkit-appearance: none;
    resize: none;
    height: 120px;
  }
  input[type="text"]:focus, textarea:focus {
    -webkit-transition: 0.9s;
    -o-transition: 0.9s;
    -moz-transition: 0.9s;
    transition: 0.9s;
    box-shadow: 0px 0px 1px rgba(154, 153, 162, 0.69);
    -webkit-box-shadow: 0px 0px 1px rgba(154, 153, 162, 0.69);
    -moz-box-shadow: 0px 0px 1px rgba(154, 153, 162, 0.69);
    -o-box-shadow: 0px 0px 1px rgba(154, 153, 162, 0.69);
  }
  input[type="submit"] {
    font-size: 1em;
    border: 1px solid #84B3B9;
    color: #84B3B9;
    font-family: inherit;
    cursor: pointer;
    padding: 25px 80px;
    display: inline-block;
    text-transform: uppercase;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    background: none;
    outline: none;
    &:hover {
      color: #ffffff;
      background: #84B3B9;
    }
  }
}

/* start details*/

.det_pic {
  margin: 2% 0;
}

/***** Media Quries *****/
@media only screen and (max-width: 1366px) {
  .wrap {
    width: 95%;
  }
  .banner {
    width: 90%;
  }
  .ca-nav span {
    width: 34px;
    height: 34px;
    left: 75%;
  }
  .f_grid2.left {
    margin-left: 6%;
  }
  .grid1_of_1 {
    width: 22.3333%;
  }
  .grid1_of_2 {
    width: 76.3333%;
  }
}

@media only screen and (max-width: 1280px) {
  .wrap {
    width: 95%;
  }
  .wrapper {
    padding: 0 2% ;
  //    min-height:220px;
  }
  .banner {
  }
  .ca-nav span {
    width: 34px;
    height: 34px;
    left: 74%;
  }
  .f_grid2.left {
    margin-left: 4%;
  }
  .logo {
    position: inherit;
  }
}

@media only screen and (max-width: 1024px) {
  .wrap {
    width: 95%;
  }
  .logo {
    position: inherit;
    top: 0px;
    left: 0px;
    text-align: left;
  }
  .banner {
    width: 66%;
  }
  .f_grid2.left {
    margin-left: 2%;
  }
  .nav li a {
    padding: 10px 20px 10px 30px;
  }
  .ca-nav span {
    left: 64%;
    top: 100%;
  }
}

@media only screen and (max-width: 800px) {
  .wrap {
    width: 95%;
  }
  .banner {
    width: 74%;
  }
  h2.style1 {
    font-size: 1.5em;
  }
  .btn {
    padding: 20px 60px;
  }
}

@media only screen and (max-width: 640px) {
  .wrap {
    width: 95%;
  }
  .span1_of_1 {
    width: 99.333%;
    float: none;
    border-right: none;
  }
  .span1_of_2 {
    width: 99.333%;
    float: none;
    padding-left: 0;
  }
  .ca-nav span {
    left: 86%;
    top: 74%;
  }
  .ca-container {
    height: 220px;
  }
  .address h3.top {
    margin-top: 2%;
  }
  .f_grid2.left {
    margin-left: 4%;
  }
  .grid1_of_1 {
    width: 30.3333%;
  }
  .grid1_of_2 {
    float: none;
    width: 99.3333%;
  }
  .hide {
    display: none;
  }
  .menu {
    margin-left: 0;
  }
  .toggleMenu {
    width: 95%;
    margin: 0 auto;
  }
  .logo {
    text-align: center;
  }
  .toggleMenu {
    background: rgba(29, 82, 99, 0.22);
  }
  .nav {
    background: rgba(255, 255, 255, 0.22);
  }
  .banner {
    width: 82%;
  }
  .images_1_of_3 {
    float: none;
    width: 99.333%;
    margin-top: 4%;
  }
  .grid_1_of_3 {
    display: block;
    margin-left: 0%;
  }
  .listimg_2_of_1 {
    float: none;
    width: 99.33333%;
    margin-right: 0%;
  }
  .list_2_of_1 {
    float: none;
    width: 99.33333%;
  }
  .company_address {
    float: none;
    margin-right: 0%;
    width: 99.3333%;
  }
  .contact_info {
    float: none;
    width: 99.33333%;
  }
  .rd_more {
    margin-top: 4%;
  }
  .images_1_of_3 img {
    margin: 0% 0 0%;
  }
}

@media only screen and (max-width: 480px) {
  .wrap {
    width: 95%;
  }
  .banner {
    width: 99%;
  }
  .ca-nav span {
    left: 83%;
  }
  .grid1_of_1, .grid1_of_2 {
    float: none;
    width: 100%;
  }
  .f_grid2 {
    float: none;
    &.left {
      margin: 4% 0% 0 0;
    }
  }
  .f_nav {
    margin-top: 2%;
  }
  .toggleMenu {
    width: 92%;
  }
  h2.style {
  }
  .lb-album li {
    width: 45.333%;
    padding: 2%;
    margin: 0 0 4% 0%;
  }
}

@media only screen and (max-width: 320px) {
  .wrap {
    width: 95%;
  }
  .toggleMenu {
    width: 90%;
  }
  .ca-nav span {
    left: 75%;
    top: 100%;
  }
  .ca-container {
    height: 220px;
  }
  .span1_of_2 {
    margin-top: 20%;
  }
  h2.style {
    font-size: 2em;
  }
}

.whoweare {
  .profile {
    border-bottom: 1px solid rgba(38, 57, 35, 0.73);
    padding:10px 0;
    h2 {
      font-size:1.5em;
    }
    strong {
      color:black;
    }
  }
}
.contactForm {
  .contact-form {
    clear:both;
    margin-top:60px;
    .send {
      font-size: 1em;
      border: 1px solid #263923;
      color: #84B3B9;
      font-family: inherit;
      cursor: pointer;
      padding: 25px 80px;
      display: inline-block;
      text-transform: uppercase;
      outline: none;
      position: relative;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
      background: none;
      outline: none;
      color:#263923;
      &:hover{
        background: #263923;
        color:white;
      }
    }
  }
}
.copyright {
  text-align:center;
}



body.home {
  .header_bg  {
    .wrapper {
      min-height:420px;
    }
  }
}



.home {
  .logo {
    position:relative;
    width:200px;
    top:-25px;
  }
  .banner h2 {
    margin-left:61px;
  }
  .menu {
    padding-left:250px;
  }
  @media screen and (min-width: 1280px) {
    .banner h2 {
        margin-left:130px;
    }
    .menu {
      padding-left:290px;
    }
  }
}



