<!-- start content -->
<div class="content_bg">
<div class="wrap">
<div class="wrapper">
  <div class="main">
  <div class="span1_of_1 left">
    <!-- start slider-text -->
    <div class="our-mission" id="team">
      <div id="ca-container" class="ca-container" >
        <div class="ca-wrapper">
          <div class="ca-item ca-item-{{$index + 1}}" data-ng-repeat='quote in quotes' repeat-done="carrousel()" >
            <div class="ca-item-main">
              <h4>
                <!--<span class='open'><img src="./images/quote.png"></span>-->
                <span class='quote' data-ng-class="{cosarara: quote.strech, longer: quote.longer }"><p><em class='lquote'>&#8220;</em>{{quote.text}}<em class='rquote'>&#8221;</em></p></span>
                <p class='author'>{{quote.author}}</p>
              </h4>
            </div>
          </div>
        </div>
      </div>
    <!-- the jScrollPane script -->
  </div>
  <!-- end slider-text -->
  </div>
  <div class="span1_of_2">
    <!--<h4 class="style"></h4>-->
    <p class="para1">
      Intrepid Ascent guides organizations and communities through today’s challenging healthcare terrain. Our consulting services promote the intelligent use of data to improve care coordination and population health in increasingly value-based environments. With deep experience in health information technology, performance improvement, policy, and research, we are prepared to help you lead the way to better health.
    </p>
    <p class="para1">
      Please review the rest of our website to learn about who we are, our service areas, and recent client engagements. We also encourage you to contact us through the form below.
    </p>
  </div>
  <div class="clear"></div>
  <div class='contactForm'>
          <div class="contact-form notifications" data-ng-if='error === true || sent === true'>
            <div class='success' data-ng-if='sent'>Message sent.</div>
            <div class='error' data-ng-if='error'>We had a problem sending the message, please try again.</div>
          </div>
          <div class="contact-form" data-ng-if='sent === false'>
            <h2 class="style1">Contact Us</h2>
            <form method="post" action="contact-post.html">
                <div>
                  <span><label>NAME</label></span>
                  <span><input name="Name" type="text" class="textbox" required data-ng-model='msg.name'></span>
                </div>
                <div>
                  <span><label>E-MAIL</label></span>
                  <span><input name="Email" type="email" class="textbox" data-ng-model='msg.email'></span>
                </div>
                <div>
                  <span><label>MOBILE</label></span>
                  <span><input name="Phone" type="text" class="textbox" data-ng-model='msg.phone'></span>
                </div>
                <div>
                  <span><label>SUBJECT</label></span>
                  <span><textarea name="userMsg" data-ng-model='msg.subject' required ></textarea></span>
                </div>
              <div>
                <span><a class='send' data-ng-click='sendMsg()'>Send</a></span>
              </div>
          </form>
        </div>
  </div>
  </div>
</div>
</div>
</div>
